<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/stylesheet.css">
    <script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>
    <title>Netflix</title>
</head>
<body>
    <header>
        <div class="container">
            <h2 class="logo">NETFLIX</h2>
            <nav>
                <a href="#">Iniciar</a>
                <a href="#">Series</a>
                <a href="#">Filmes</a>
                <a href="#">Documentários</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">HOUSE OF CARDS</h3>
                <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci quia modi voluptatum repellendus excepturi ut tenetur amet possimus facere perspiciatis minima recusandae molestias placeat quod exercitationem.</p>
                <div class="botoes">
                    <button role="button" class="botao">
                        <i class="fas fa-play"></i>
                        ASSISTIR AGORA
                    </button>
                    <button role="button" class="botao">
                        <i class="fas fa-info-circle"></i>
                        MAIS INFORMAÇÕES
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>